.Rproj.user
.Rhistory
.RData
.Ruserdata
xkcd.ttf
stanDemoBetaReg.RData
.gddoc
.gdsheet
Copy of PSYC 757 Syllabus - Fall 2019.gddoc
PSYC 757 Syllabus - Fall 2020.gddoc
PSYC 757 Fall 2020 Pre-Semester Skill Survey (Responses).gdsheet
PSYC 757 - Fall 2020 grade sheet.gdsheet
Fall 2020.Rproj
